/**
Encoded by: Abdul Mannan (shindatamashii@gmail.com)
Designed by: Husty Designs
Theme: ForeVu
Version: 1.0
**/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
* {margin: 0;}
body {background: #dcdcdc; font-family: 'Roboto', sans-serif; min-width: 1110px;}
a {text-decoration: none;}
ul {margin: 0; padding: 0; list-style: none;}
.amk_wrap {width: 1090px; margin: 0 auto; padding: 0 10px;}
.amk_left {float: left;} .amk_right {float: right;}
.amk_clear {clear: both;}
input[type="submit"] {cursor: pointer;}
#amk_top {background: #222222 url("graphics/revshare.png") no-repeat center bottom / 100%; border-top: 3px solid #d1b410; overflow: hidden;}
	.amk_slider{background: url("graphics/top.png") no-repeat left top / cover; box-shadow: 0 2px 47px #000; overflow: hidden;}
		#amk_top .amk_slider ul.amk_left {font-size: 14px; font-weight: 500; text-transform: uppercase; margin: 27px 0;}
			#amk_top .amk_slider ul.amk_left li { background: url("graphics/li.png") no-repeat left center; }
				#amk_top .amk_slider ul.amk_left li a {display: block; position: relative; z-index: 2; color: #FFF; line-height: 50px; text-align: right; margin-bottom: 4px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(1) {margin-left: 54px; width: 164px; padding-right: 30px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(2) {margin-left: 48px; width: 160px; padding-right: 34px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(3) {margin-left: 42px; width: 158px; padding-right: 36px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(4) {margin-left: 36px; width: 156px; padding-right: 38px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(5) {margin-left: 30px; width: 154px; padding-right: 40px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(6) {margin-left: 24px; width: 152px; padding-right: 42px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(7) {margin-left: 18px; width: 150px; padding-right: 44px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(8) {margin-left: 12px; width: 148px; padding-right: 46px;}
				#amk_top .amk_slider ul.amk_left li:nth-child(9) {margin-left: 6px; width: 146px; padding-right: 48px; margin-bottom: 0 !important;}
		.amk_intro {background: url("graphics/intro.png") no-repeat left top; position: relative; z-index: 1; width: 485px; height: 410px; text-align: center; padding: 65px 0; margin: 0 0 0 -75px;}
			.amk_intro .amk_logo {padding: 0 0 0 25px;}
			.amk_intro h1 {font-size: 32px; font-weight: 700; color: #FFF; text-transform: uppercase; margin: 50px 0 20px;}
			.amk_intro p {font-size: 18px; font-weight: 300; color: #cfcfcf; line-height: 24px; width: 280px; margin: 0 0 0 99px;}
			.amk_intro .amk_btn {display: block; background: url("graphics/btn1.png") no-repeat center; font-size: 25px; font-weight: 700; color: #2c2c2c; text-shadow: 1px 1px 1px #ffda0b; width: 248px; line-height: 72px; text-transform: uppercase; margin: 50px 0 0 95px;}
		.amk_loginform {width: 310px; margin: 75px 50px 0 0; overflow: hidden;}
			.amk_loginform h2 {font-size: 31px; font-weight: 700; color: #FFF; text-align: center; text-shadow: 1px 1px 1px #939393; text-transform: uppercase; margin: 0 0 40px;}
			.amk_loginform .amk_input {background: url("graphics/input.png") repeat; border-right: 4px solid #d1b410; border-radius: 3px; margin: 0 0 10px; overflow: hidden;}
				.amk_loginform .amk_input input {background: transparent; border: 0; line-height: 71px; font-family: 'Roboto', sans-serif; font-size: 17px; color: #FFF; padding: 0 0 0 36px;}
			.amk_loginform .amk_input.amk_captcha input {float: left; line-height: 54px !important;}
			.amk_loginform .amk_input .amk_captchalink {display: inline; float: left; margin: 18px 0 0;}
			.amk_loginform input[type="submit"] {display: block; font-family: 'Roboto', sans-serif; background: url("graphics/btn2.png") repeat-x; border: 1px solid #969696; border-radius: 3px; font-size: 25px; font-weight: 700; color: #2c2c2c; text-shadow: 1px 1px 1px #ffda0b; width: 179px; line-height: 56px; text-transform: uppercase; margin: 25px auto 0;}
	.amk_revshare {padding: 65px 0 40px; overflow: hidden;}
		.amk_revshare ul {margin: 0 0 30px; overflow: hidden;}
			.amk_revshare ul li {float: left; width: 168px; background: url("graphics/box.png") no-repeat center top; color: #999999; text-align: center; text-transform: uppercase; padding: 26px 0 46px; margin-right: 16px; overflow: hidden;}
			.amk_revshare ul li:last-child {margin-right: 0 !important;}
				.amk_revshare ul li h3 {font-size: 44px; font-weight: 700; line-height: 44px; color: #c2a712;}
				.amk_revshare ul li h4 {font-size: 24px; font-weight: 300; line-height: 22px;}
				.amk_revshare ul li h5 {font-size: 27px; font-weight: 300; line-height: 27px;}
					.amk_revshare ul li h5 b{font-weight: 700;}
				.amk_revshare ul li p {font-size: 17px; line-height: 26px;}
					.amk_revshare ul li p b {color: #c2a712;}
				.amk_revshare ul li .amk_hline {background: url("graphics/hline.png") no-repeat center top; display: block; width: 115px; height: 2px; margin: 22px auto 16px; overflow: hidden;}
		.amk_revshare .amk_btn1 {background: #303030 url("graphics/calc.png") no-repeat 25px center; display: block; font-size: 20px; font-weight: 700; color: #c2a712; width: 225px; line-height: 65px; border-radius: 5px; border-left: 3px solid #c2a712; border-right: 1px solid #17191e; border-top: 1px solid #17191e; border-bottom: 1px solid #17191e; text-transform: uppercase; padding: 0 0 0 80px;}
		.amk_revshare .amk_btn {display: block; font-size: 20px; font-weight: 700; color: #272726; width: 210px; line-height: 65px; border-radius: 5px; border-left: 3px solid #FFF; border-top: 1px solid #5b5c61; border-bottom: 1px solid #5b5c61; text-transform: uppercase; text-shadow: 1px 1px 1px #ffda0b; padding: 0 0 0 80px; margin: 0 0 0 35px;}
		.amk_revshare .amk_btn2 {background: #c2a712 url("graphics/group.png") no-repeat 25px center;}
		.amk_revshare .amk_btn3 {background: #c2a712 url("graphics/globe.png") no-repeat 25px center;}
#amk_stats {background: #c2a712 url("graphics/breaker1.png") repeat-x center bottom; padding: 45px 0 35px; overflow: hidden;}
	#amk_stats ul {font-size: 16px; font-weight: 700; color: #FFF; text-transform: uppercase; text-align: center;}
		#amk_stats ul li {float: left; padding: 115px 0 0; margin-right: 60px;}
			#amk_stats ul li span {display: block; font-size: 25px; color: #303030; text-transform: capitalize;}
			#amk_stats ul li span span {display: inline; font-size: 15px; font-weight: 400 !important;}
		#amk_stats ul li:nth-child(1) {background: url("graphics/icon1.png") no-repeat center top;}
		#amk_stats ul li:nth-child(2) {background: url("graphics/icon2.png") no-repeat center top;}
		#amk_stats ul li:nth-child(3) {background: url("graphics/icon3.png") no-repeat center top;}
		#amk_stats ul li:nth-child(4) {background: url("graphics/icon4.png") no-repeat center top;}
		#amk_stats ul li:nth-child(5) {background: url("graphics/icon5.png") no-repeat center top; margin-right: 0 !important;}
		#amk_stats ul li:nth-child(6) {float: right !important; background: url("graphics/icon6.png") no-repeat center top; margin-right: 0 !important;}
#amk_main {background: #e1e1e1 url("graphics/main.png") no-repeat center top / cover; padding: 65px 0; overflow: hidden;}
	#amk_main  .amk_box.amk_left {width: 535px; overflow: hidden;}
	#amk_main  .amk_box.amk_right {width: 480px; margin-right: 10px; overflow: hidden;}
		#amk_main  .amk_box h3 {font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: normal; color: #303030; margin: 0 0 15px;}
			#amk_main  .amk_box h3 span {color: #c2a712;}
		#amk_main  .amk_box p {font-size: 15px; color: #7e7e7e; line-height: 24px;}
	#amk_main .amk_hline_big {display: block; background: url("graphics/hline-big.png") repeat-x; width: 100%; height: 3px; margin: 50px 0 30px; overflow: hidden;}
#amk_live { text-align:center;background: #303030 url("graphics/breaker2.png") repeat-x; padding: 47px 0 40px; overflow: hidden;}
	#amk_live .amk_chartbox {}
		#amk_live .amk_chart {float: left; width: 339px; height: 212px; border: 4px solid #b9a014; border-radius: 5px; margin: 0 40px 0 0;}
		#amk_live .amk_rate {float: left; width: 295px; margin: 25px 0 0; overflow: hidden;}
			#amk_live .amk_ratebox {float: left; background: #3f3f3f; width: 290px; border: 1px solid #000; border-radius: 5px; text-align: center; text-transform: uppercase; padding: 13px 0 10px;}
				#amk_live .amk_rate h4 {font-size: 21px; font-weight: 300 !important; color: #FFF;}
				#amk_live .amk_rate p {font-size: 41px; font-weight: 700; color: #c2a712;}
			#amk_live .amk_arrow {float: left; background: url("graphics/arrow.png") no-repeat; display: block; width: 84px; height: 37px; margin: 32px 0 0;}
	#amk_live .amk_vline {display: block; float: left; background: url("graphics/vline.png") repeat-y; width: 2px; height: 220px; margin: 0 40px 0 35px;}
	#amk_live .amk_newsbox {float: right; width: 330px; margin: 12px 0 0;}
		#amk_live .amk_newsbox h3 {font-size: 20px; color: #c2a712; text-transform: uppercase; margin: 0 0 30px;}
		#amk_live .amk_newsbox h4 {font-size: 21px; color: #FFF; margin: 0 0 5px;}
		#amk_live .amk_newsbox p {font-size: 14px; color: #a0a0a0; line-height: 23px; height: 107px;}
		#amk_live .amk_newsbox .amk_timestamp {float: right; font-size: 12px; font-weight: 700; color: #FFF; text-transform: uppercase;}
#amk_latest {background: #2f2f2f url("graphics/latest.png") no-repeat center top / cover; overflow: hidden;}
	#amk_latest h3 {float: left; font-family: 'Roboto', sans-serif; font-size: 26px; font-weight: normal; line-height: 36px; color: #FFF; width: 100%; text-align: center; margin: 25px 0;}
	
	#amk_latest ul {float: right;}
	#amk_latest ul {margin: 0 0 20px;width:930px;}
		#amk_latest ul div {float: left; background: url("graphics/li2.png") repeat; font-size: 15px; line-height: 52px; width: 226px; color: #FFF; border: 1px solid #827315; border-radius: 4px; padding: 0 0 0 22px; margin: 20px  0 0 60px;}
			#amk_latest ul div span.amk_username {display: inline-block; width: 135px;}
			#amk_latest ul div span.amk_amount {font-weight: 700;}
			#amk_latest ul div img {float: right; margin: -1px -28px -3px 0;}
	#amk_latest .amk_deposits, #amk_latest .amk_withdrawals {
  float: left;
  margin: 0 1%;
  width: 48%;
}

	#amk_referrals {background: #2e2e2e url("graphics/referrals.png") no-repeat center top / cover; color: #FFF; text-shadow: 1px 1px 5px #202020; padding: 40px 0; overflow: hidden;}
	#amk_referrals h2 {float: left; width: 195px; font-size: 30px; font-weight: 400; text-transform: uppercase; margin: 0 0 0 85px;}
		#amk_referrals h2 span {display: block; font-size: 64px; line-height: 48px; font-weight: 300 !important; text-align: right;}
	#amk_referrals .amk_percent-amount, #amk_referrals .amk_percent-sign {float: left; font-size: 54px; font-weight: 700; line-height: 48px; color: #ddbf19;}
	#amk_referrals .amk_percent-amount {font-size: 113px; line-height: 88px; margin: 0 0 0 15px;}
	#amk_referrals .amk_percent-sign {font-size: 54px; line-height: 48px; margin: 0 10px 0 0;}
	#amk_referrals h3 {float: left; font-size: 64px; line-height: 48px; font-weight: 300 !important; text-align: right; margin: 37px 0 0;}
#amk_about {background: #2a2a2a; border-bottom: 1px solid #1d1d1d; padding: 55px 0 45px; overflow: hidden; width:100%}
	#amk_about .amk_box1 {float: left; width: 715px}
		#amk_about .amk_designed {display: block; margin: 0 0 20px;}
		#amk_about .amk_payments { margin-bottom:15px}
			#amk_about .amk_payments img {margin-right: 5px;}
	#amk_about .amk_box2 {float: right; color: #6b6b6b;}
		#amk_about .amk_box2 a {color: #6b6b6b;}
		#amk_about .amk_box2 img {float: left;}
		#amk_about .amk_box2 .amk_cobox {float: right; font-size: 14px; width: 190px; margin-left: 25px;}
			#amk_about .amk_box2 h3 {font-size: 18px; font-weight: 700; border-bottom: 1px solid #6b6b6b; line-height: 14px; padding: 0 0 18px;}
			#amk_about .amk_box2 ul {border-bottom: 1px solid #6b6b6b; padding: 15px 0; margin: 0 0 13px;}
#amk_footer {background: #1f1f1f; font-size: 13px; color: #888888; border-top: 3px solid #2f2f2f; padding: 30px 0; overflow: hidden;}
	#amk_footer a {color: #888888;}
	#amk_footer div.amk_left {margin: 5px 0;}
	#amk_footer ul {text-transform: uppercase; margin: 0 0 10px;}
		#amk_footer ul li {display: inline-block; margin: 0 5px 0 0;}
			#amk_footer ul li a {display: inline-block; margin: 0 5px 0 0;}
			.header_social {
  float: left;
  padding: 20px 0 0;
  text-align: center;
  width: 100%;
}
.header_social a {
  background: #fff none repeat scroll 0 0;
  border: 3px solid #fff;
  border-radius: 30px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 6px;
  width: 40px;
}
.header_social a img {
	border-radius:30px;
}
.amk_payments h3{color:#c2a712; font-size:20px; margin:25px 0 15px;font-weight: 300;}
.featured_box {
  display: inline-block;
  margin: 0 2%;
  text-align: center;
  width: 29%;
}
.featured_box span.icon {
  display: inline-block;
  height: 140px;
  padding: 0 0 20px;
  width: 140px;
}
.featured_box h3 {
  color: #c2a712;
  font-size: 20px;
  font-weight: 300;
}
.amk_latest_inside {
	margin: 0 auto;
    padding: 0 10px;
    width: 1090px;
}
.amk_deposits table, .amk_withdrawals table {
    border-left: 1px solid #fff;
	width:100%;
	margin:0 0 30px;
    border-top: 1px solid #fff;
}
.amk_deposits table td, .amk_withdrawals table td {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  padding: 10px;
}
.amk_deposits table td.header, .amk_withdrawals table td.header {
	background:#333;
}
.investmentplan {
  background: #222222 url("graphics/revshare.png") repeat-y scroll center bottom / 100% auto;
  border-radius: 6px;
  width: 100%;
  padding: 15px 15px 40px;
}
.investmentplan ul li {
  min-height: 370px;
  width: 166px;
  background:url("images/box-large.png") no-repeat center top;
}
.investmentplan ul li table {
    background: #222;
    border: 1px solid #333;
}
.investmentplan ul li table td {
    background: #222;
    padding: 5px 2px;
    font-size: 11px;
	border-bottom: 1px solid #333;
}
.investmentplan ul li table td:last-child{color:#c2a712}

.investmentplan ul li h2, .dashboard ul li h2{
	color: #c2a712;
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;}
.dashboard{background: #222222 url("graphics/revshare.png") repeat-y scroll center bottom / 100% auto; padding: 15px;border-radius: 6px;
  width: 100%;}
  .dashboard ul{margin:0}
.dashboard ul li {
  margin-bottom: 30px;
  min-height: 258px;
  width: 201px;
}
.amk_banklavel-wrap {
width:100%;
overflow:hidden;
padding:25px 0;
text-align:center;
background:#c2a712;
}
.amk_banklavel {
max-width:1090px; margin: auto; overflow:hidden; padding:0 10px}
.amk_banklavel img {
    border-radius: 4px;
    height: 53px;
    margin: 0 5px;
}
.amk_banklavel h3 {float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0;}