body, div, ul, li, p, form, h1, h2, h3, h4, h5, a{
	margin: 0px;
	padding: 0px;
}

form {	margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;}
.toptable {
	background-color: FF8D00;
}

a.toplink, a.toplink:hover, a.toplink:visited, a.toplink:active {
	color: white;
	text-decoration: none;
}
.forCopyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #EDD1D7;
	text-align: center;
	background-color: ff8d00;
}


a.menutxt 
{
 
 font-size: 12px;
 color: #ffffff;
 
 text-decoration: none;
 font-weight: bold;
 background: url(../images/but2.png) repeat-x;
 
 height: auto;

  text-align: center;
 padding-top:0px;
 padding-bottom:0px;
 padding-left:0px;
 padding-right:0px;

 margin-bottom:3px;
 
 text-indent: 1.5pt;
 display: block;
 cursor: pointer;
}


a.menutxt:hover, a.menutxt:active
{
 text-decoration: none;
 
 color: #ffffff;
 background: url(../images/but.png) repeat-x;

 height: auto;

}


.menutxt {
	
	font-size: 12px;
	color: #000000;
	list-style:none; background:url(../images/dot.gif) 0px 100% repeat-x; line-height:30px;
	padding: 0px 7px;
}



a.menutxt3
{
 
 font-size: 12px;
 color: #ffffff;
 
 
 
 
 text-decoration: none;
 font-weight: bold;
 background: url(../images/rbut.png) repeat-x;
 
 height: auto;
 width: 190px;

  text-align: center;
 padding-top:0px;
 padding-bottom:0px;
 padding-left:0px;
 padding-right:0px;

 margin-bottom:3px;
 
 text-indent: 1.5pt;
 display: block;
 cursor: pointer;
}


a.menutxt3:hover, a.menutxt3:active
{
 text-decoration: none;
 
 color: #ffffff;
 background: url(../images/rbu2.png) repeat-x;

 height: auto;

}


.menutxt3 {
	
	font-size: 12px;
	color: #000000;
	list-style:none; 0px 100% repeat-x; line-height:21px;
	padding: 0px 7px;
}



th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
    background-color: #FF8D00;
}



.inpts {
	background:#fff url(../images/content_bg.gif) repeat-x ;
	width: 250px;
	font-size:12px;
	padding: 3px 5px;
	margin: 5px 5px;
	color: #000;
	
	border:solid 1px #ccc;
}

.inpts3 {
	background:#fff url(../images/content_bg.gif) repeat-x ;
	width: 110px;
	font-size:12px;
	padding: 3px 5px;
	margin: 0px 0px;
	color: #000;
	
	border:solid 1px #ccc;
}

.inpts4 {
	background:#fff url(../images/content_bg.gif) repeat-x ;
	width: 320px;
	font-size:12px;
	padding: 3px 5px;
	margin: 0px 0px;
	color: #000;
	
	border:solid 1px #ccc;
}

.inpts5 {
	background:#fff url(../images/content_bg.gif) repeat-x ;
	width: 200px;
	font-size:12px;
	padding: 3px 5px;
	margin: 0px 0px;
	color: #000;
	
	border:solid 1px #ccc;
}


.inpts6 {
	background:#fff url(../images/content_bg.gif) repeat-x ;
	width: 70px;
	font-size:12px;
	padding: 3px 5px;
	margin: 0px 0px;
	color: #000;
	
	border:solid 1px #ccc;
}


a.hlp, a.hlp:active, a.hlp:visited, a.hlp:hover { font-family: verdana; font-size: 12px; color: black; text-decoration: none; cursor: help;}

.line {
	background-color: ff8d00;
}
.bgcolorleft {
	background-color: white;
}
.bgcolormain {
	background-color: white;
}
.bgcolorright {
	background-color: white;
}
div.framebody {
	text-align: left;
}


td.item 
{
    background: url(../images/phead.gif) top repeat-x;
    color: #000000;
     border-top: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  border-left: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
 padding-left: 3px;
 padding-right: 3px;
 padding-top: 3px;
 padding-bottom: 3px;
}
td.inheader 
{
 background-color: #538043;
 color:#FFFFFF;
 background-image: url("../images/tablebg.png");
 font-weight: bold;
 text-align: center; 
 
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family:  Arial, Helvetica, sans-serif;
 
 
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
}



.boxreg { 
  margin-bottom: 20px;
  padding: 0;
  overflow:hidden;
  border-top: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  border-left: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  background: url(../images/phead.gif) top repeat-x;
}

.boxreg5{ 
  width: 600px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
  overflow:hidden;
  border-top: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  border-left: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  background: url(../images/phead.gif) top repeat-x;
}




h3 {
	font-weight: bold;
	font-size: 12px;
}
.calendartable {
	background-color: ff8d00;
	text-align: center;
}
.calendartablebg {
	background-color: white;
}
.calendarweek {
	background-color: ff8d00;
	text-align: center;
	
}
td.gray {
        color: gray;
}

#overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.55;}
#access{
	width: 430px;
	height:252px;
	background: url(../images/access.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -126px 0 0 -215px;
	z-index:101;}
	.close2 {
		width: 30px;
		height: 30px;
		position: relative;
		float: right;
		padding: 15px 15px 0 0;}	

		label2 {
	width: 140px;
	font-size:14px;
	padding-top: 12px;
	display: block;
	float: left;}

	.inpts2 {
	
	
		background:#fff url(../images/content_bg.gif) repeat-x ;
	width: 140px;
	font-size:14px;
	padding: 3px 5px;
	margin: 10px 0px;
	color: #000;
	
	border:solid 1px #ccc;
}
.client_info {
		width: 615x;
		height: 75px;
		background: url(../images/user.png); no-repeat;
		float: left;
		
		position: relative;
		padding: 13px 0 0}

		.client_info_left, .account_balance_left {
			width: 170px;
			float: left;
			color:#545d68;
			font-size: 12px;
			line-height: 1.5em;
			
			margin-left:95px;}
			.client_info_left span, .account_balance_left span{
				color:#545d68;
				font-size: 18px;
				display: block;
				height: 12px;
				
				}
		.client_info_right, .account_balance_right {
			color:#545d68;
			font-size: 12px;
			float: left;
			line-height: 1.5em;}
			.client_info_right span, .account_balance_right span{
				
				font-size: 18px;
				display: block;
				height: 12px;
				
				}
	
	.account_balance {
		width: 615px;
		float: left;
		position: relative;
		
		padding: 24px 0 0 0;
		height: 83px;}
		
		
	.table_block {
		width: 680px;
		position:relative;
		float: left;
		margin-top: 10px;}
		.table_block table{
			margin: 0 0 25px 0;
			padding:0;
			height: 100px;}
			.table_block td {
				border: none;
				background: #376900;
				color:#ffffff;
				height: 20px;
				border-bottom:1px solid #193100; 
				padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 0px;
				
				}
				.table_block td span{
					color:#ffffff;
					font-weight: bold;
					font-size: 12px;
					padding-right: 0px;}
		
		.table_block_left {
			width: 250px;
			position: relative;
			float: left;}
		  .table_block_left table{
			  width: 230px;}
			  .table_block_left_TDleft{
				  width: 138px;
				  padding-left: 24px;}
			  .table_block_left_TDright{
				  width: 110px;}
		
		.table_block_right {
			width: 400px;
			position: relative;
			float: right;}
		  .table_block_right table{
			  width:300px;}
			  .table_block_right_TDleft{
				  width: 137px;
				  padding-left: 21px;}
			  .table_block_right_TDright{
				  width: 240px;
				  font-size: 11px;}

.balancemd{
				
margin-bottom:5px; font-size:16px; line-height:16px; color:#545d68; text-transform:uppercase; padding: 5px 0;				
				}
				
.imgf{ float:left; margin:3 10px 0 0 }
.feturetext{
					color:#ffffff;
					
					
					margin:0 0px 0 0
					}



.reftextarea{ background: #f2f2f2; border:solid 1px #828282; width:450px; height:90px; border-width:0px;}
.reftextareasmall{  background: #f2f2f2; border:solid 1px #828282; width:325px; height:125px; border-width:0px; margin-left:5px;}

.headrl a{ position:relative; top:150px; left:365px; }

.days{text-align:center; color:#44380f; font-size:1.15em;}




.header_3 a{ background:url(../images/menubg1.png); height:45px; display:block; float:left;
text-decoration:none;}
.header_3 a.a1{ background-position:0px 0px; width:85px; margin-left:0px;}
.header_3 a.a1:hover{ background-position:0px 45px; width:85px; margin-left:0px;}

.header_3 a.a2:hover{ background-position:-85px 45px; width:113px;}
.header_3 a.a2{ background-position:-85px 0px; width:113px;}

.header_3 a.a3{ background-position:-198px 0px; width:121px;}
.header_3 a.a3:hover{ background-position:-198px 45px; width:121px;}

.header_3 a.a4{ background-position:-319px 0px; width:72px;}
.header_3 a.a4:hover{ background-position:-319px 45px; width:72px;}

.header_3 a.a6{ background-position:-391px 0px; width:138px;}
.header_3 a.a6:hover{ background-position:-391px 45px; width:138px;}

.header_3 a.a7{ background-position:-529px 0px; width:189px;}
.header_3 a.a7:hover{ background-position:-529px 45px; width:189px;}

.header_3 a.a8{ background-position:-718px 0px; width:112px;}
.header_3 a.a8:hover{ background-position:-718px 45px; width:112px;}

.header_3 a.a9{ background-position:-830px 0px; width:110px;}
.header_3 a.a9:hover{ background-position:-830px 45px; width:110px;}

.header_3 a.a10{ background-position:-940px 0px; width:113px;}
.header_3 a.a10:hover{ background-position:-940px 45px; width:113px;}

.menu1, .menu2{ clear:both; display:table; margin:0px auto;}
.menu1{ position:relative; top:25px;}
.menu2{ position:relative; top:85px;}

.notext{	color:transparent;	font-size:0px;	letter-spacing:-9999em;	}

.alignleft{	float:left;	margin-right:10px;	position:relative;	top:4px; margin-bottom:10px;}	


.pbox {
  width: 270px;
  margin: 8px 0 0 0;
  padding: 0;	
  
  }

.pbox .tit {
  font-weight:normal;
  color:#fff;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  height: 36px;
  line-height: 36px;
  text-shadow:#000 0px 0px 0px 0px;
  padding: 3px 3px 0 0;
  background: url(../images/index1.png);
  font-weight:bold;
  text-shadow: #777777  1px 1px 0;
}

  
  .pbox .tit2 {
  font-weight:normal;
  color:#fff;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  height: 36px;
  line-height: 36px;
   padding: 3px 3px 0 0;
  text-shadow: #777777 1px 1px 0;
  background: url(../images/index2.png);
  font-weight: bold;
}

.pbox .tit3 {
  font-weight:normal;
  color:#fff;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  height: 36px;
  line-height: 36px;
   padding: 3px 3px 0 0;
  text-shadow: #777777 1px 1px 0;
  background: url(../images/index3.png);
  font-weight: bold;
}


.pbox .cont {
  font-size:12px;
  padding: 0px 10px 5px 10px;
  background: url(../images/findex.png);
  background-position: bottom;
}

.pbox .cont a, .pbox .cont a:visited  { font-size:11px; color: #582163; text-decoration:underline;}
.pbox .cont a:hover, .pbox .cont a:active  {color: #582163; text-decoration:none;}



.logbox {
  width: 270px;
  margin: 8px 0 0 0;
  padding: 0;	
 
  }


.logbox .tit2 {
 font-weight:normal;
  color:#fff;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  height: 36px;
  line-height: 36px;
   padding: 3px 3px 0 0;
  text-shadow: #777777 1px 1px 0;
  background: url(../images/index4.png);
  font-weight: bold;
}
}

.logbox .cont {
  font-size:12px;
  padding: 0px 10px 5px 10px;
  background: url(../images/findex.png);
  background-position: bottom;
}

.logbox .cont a, .logbox .cont a:visited  { font-size:11px; color: #582163; text-decoration:underline;}
.logbox .cont a:hover, .logbox .cont a:active  {color: #582163; text-decoration:none;}


.logbox .cont ul.members {
	list-style: none;
	margin: 0 0 0 0px;
	width: 270px;
	}

.logbox .cont ul.members li {
	list-style:none;
	}

.logbox .cont ul.members a, ul.members a:visited {
		width:246px;
	height:44px;
	line-height:44px;
	padding: 0 0 0 24px;
	margin: 0;
	display: block;
	text-decoration: none;
	color: #444444;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	
	}

.logbox .cont ul.members a:hover, ul.members a:active, ul.members a:focus {
 
 color: #000; 
}



.ico1 a, .ico1 a:visited  { background-image: url(../images/icon_030.png); background-position:top;  }
.ico1 a:hover, .ico1 a:active { background-position:bottom;  }

ul.members .ico2 a, ul.members .ico2 a:visited  { background-image: url(../images/icon_050.png); background-position:top; }
ul.members .ico2 a:hover, ul.members .ico2 a:active {  background-position:bottom; }

ul.members .ico3 a, ul.members .ico3 a:visited  { background-image: url(../images/icon_060.png); background-position:top; }
ul.members .ico3 a:hover, ul.members .ico3 a:active { background-position:bottom;  }

ul.members .ico4 a, ul.members .ico4 a:visited  { background-image: url(../images/icon_070.png); background-position:top;}
ul.members .ico4 a:hover, ul.members .ico4 a:active { background-position:bottom;  }

ul.members .ico5 a, ul.members .ico5 a:visited  { background: url(../images/icon_080.png); background-position:top; }
ul.members .ico5 a:hover, ul.members .ico5 a:active { background-position:bottom; }

ul.members .ico6 a, ul.members .ico6 a:visited  { background: url(../images/icon_090.png); background-position:top;}
ul.members .ico6 a:hover, ul.members .ico6 a:active { background-position:bottom; }

ul.members .ico7 a, ul.members .ico7 a:visited  { background: url(../images/icon_100.png);background-position:top; }
ul.members .ico7 a:hover, ul.members .ico7 a:active { background-position:bottom; }

ul.members .ico8 a, ul.members .ico8 a:visited  { background: url(../images/icon_110.png);background-position:top; }
ul.members .ico8 a:hover, ul.members .ico8 a:active { background-position:bottom; }

ul.members .ico9 a, ul.members .ico9 a:visited  { background: url(../images/icon_120.png); background-position:top; }
ul.members .ico9 a:hover, ul.members .ico9 a:active { background-position:bottom; }

ul.members .ico10 a, ul.members .ico10 a:visited  { background: url(../images/icon_130.png); background-position:top;}
ul.members .ico10 a:hover, ul.members .ico10 a:active { background-position:bottom; }

ul.members .ico11 a, ul.members .ico11 a:visited  { background: url(../images/icon_140.png); background-position:top;}
ul.members .ico11 a:hover, ul.members .ico11 a:active { background-position:bottom; }

ul.members .ico12 a, ul.members .ico12 a:visited  { background: url(../images/icon_150.png); background-position:top;}
ul.members .ico12 a:hover, ul.members .ico12 a:active { background-position:bottom; }



.stats{ background:url(../images/stats_bg.png); width:940px; height:100px; margin:0px auto;}
.stats .cont{ float:left; font-size:12px; width:195px; position:relative; left:200px; line-height:25px; position:relative; top:10px;}
.stats .cont2{ float:left; font-size:12px; width:250px; position:relative; left:200px; line-height:25px; position:relative; top:10px;}

.footer{ background:url(../images/footer_bg.png); background-position:bottom; width:940px; height:78px; line-height:78px; font-size:12px;  margin:0px auto;}
.footer .forums{ float:left; position:relative; left:10px; right:2px; top:0px;}
.footer .forums a{margin-right:3px;}

.statslinks{ float:right; position:relative; right:20px; top:25px;}
.statslinks a{ background:url(../images/stats_links_a.png); height:11px; display:block; float:left; text-decoration:none; margin:0px 10px;}
.statslinks a.a1{ background-position:0px 0px; width:92px;}
.statslinks a.a2{ background-position:-122px 0px; width:74px;}
.statslinks a.a3{ background-position:-225px 0px; width:79px;}
.statslinks a.a4{ background-position:-335px 0px; width:84px;}
.statslinks a.a5{ background-position:-448px 0px; width:88px;}

.underfooter{ height:48px; width:940px; clear:both; margin:0px auto;}
.underfooter .copy{ float:left; margin-left:10px; background:url(../images/footer_copy.png); width:220px; height:19px; position:relative; top:0px;}
.underfooter .fmenu{ float:right; padding-right:20px; top:0px; font-size:13px; color:#010b22; }
.underfooter .fmenu a{ color:#fff; text-decoration:none; margin:0px 4px; top:0px;}
.underfooter .fmenu a:hover{ text-decoration:underline;}

.hometxt{ text-align:justify;}



img.linksleft{float:left; list-style:none;}
img.linksright{float:right; list-style:none;}


.boxreg { 
  margin-bottom: 20px;
  padding: 0;
  overflow:hidden;
  border-top: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  border-left: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  background: url(../images/phead.gif) top repeat-x;
}

.boxreg2 { 
  margin-bottom: 20px;
  padding: 0;
  overflow:hidden;
  border-top: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  border-left: 1px solid #CBCBCB;
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  background: url(../images/phead.png) top repeat-x;
}

.boxregt {
  padding:0 0 0 42px;
  color: #ffffff;
  font-size:14px;
  font-weight:bold;
  border-bottom:1px solid #CBCBCB;
  height:36px;
  line-height:34px;
  clear:both;
  text-shadow: #777777 1px 1px 0;
  background: url(../images/h2.png) 10px 6px no-repeat;
  text-transform:uppercase;
  } 
  

  
.boxregc { padding: 25px 0 20px 0; } 
.boxregc2 { padding: 15px 17px;}  

.regbg { 
 padding-left: 10px;
 /* border-top: 1px solid #FFFFFF; */
 border-bottom: 1px solid #CBCBCB;
 background: url(../images/regbg.gif) bottom repeat-x;
 font-size: 12px; 
 }
 
.regbg2 { 
 text-align:justify;
 padding-left: 10px;
 padding-right: 25px;
 padding-top: 0px;
 padding-bottom: 10px;
 background: url(../images/regbg.gif) bottom repeat-x;
 font-size: 12px; 
 } 
 
 .l { border-right: 1px solid #CBCBCB; }
 
 .topbg2 {
	background: url(../images/topbg.gif);
	border: 1px solid #CBCBCB;
	border-radius: 5px;
  -moz-border-radius: 5px;
	}
	
.topbg2 td { color: #000; font-size: 12px; }

.topbg {
	background: url(../images/topbg.gif);
	border: 1px solid #CBCBCB;
	border-radius: 5px;
  -moz-border-radius: 5px;
	}
	
.topbg td { color: #000; font-size: 11px; }	




input.sbmt {
height:28px;
line-height:28px;

padding:0px 10px 0px 10px;
color:#fff;
background:url(../images/abutton.png) repeat-x #7D0507;
background-position:bottom;
border: 0px;
font-size: 13px;
font-weight: bold;text-transform:uppercase;
 border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
cursor:pointer;

}

input.sbmt:hover {

height:28px;
line-height:28px;
display:inline-block;
padding:0px 10px 0px 10px;
color:#fff;
background:url(../images/abutton.png) repeat-x #7D0507;
background-position:top;
border: 0px;
font-size: 13px;
font-weight: bold;text-transform:uppercase;
cursor:pointer
}


.wfix {


font-size: 12px;

}


.plans{ width:600px; clear:both; display:table;}
.plans table{ width:600px;position:relative; top:0px;}
.plans label{ width:600px; height:75px; display:block;}
.plan{ width:600px; height:75px; display:block; margin-top:12px;}

.iplans{  padding: 28px 0px 0px 10px; float:left;}
.plansdet{ float:right; height:30px; line-height:30px; width:180px; padding: 20px 18px 0px 0px; }
.plan1{background:url(../images/n8.png) no-repeat;}
.plan2{background:url(../images/n1.png) no-repeat;}
.plan3{background:url(../images/n2.png) no-repeat;}
.plan4{background:url(../images/n3.png) no-repeat;}
.plan5{background:url(../images/n4.png) no-repeat;}
.plan6{background:url(../images/n5.png) no-repeat;}
.plan7{background:url(../images/n6.png) no-repeat;}
.plan8{background:url(../images/n7.png) no-repeat;}



.signin h4{ background:url(../images/h4.png) no-repeat; height:36px; line-height:36px; color:#ffffff; font-weight: bold;

font-size:14px; margin-bottom:0px; text-transform:uppercase; text-shadow: #777777 1px 1px 0; font-family: Arial,sans-serif;

}

.signin2 h4{ background:url(../images/h4s.png) no-repeat; height:36px; line-height:36px; color:#ffffff; font-weight: bold;

font-size:14px; margin-bottom:0px; text-transform:uppercase; text-shadow: #777777 1px 1px 0; font-family: Arial,sans-serif; width:610px;

}

.signin h4 span{ font-size:20px; width:36px; text-align:center; display:block; float:left; margin-right:15px;}
.signin input[type="text"], .signin input[type="password"]{ background:url(../images/text-field.gif) repeat-x #fcfcfc; font-size: 12px; height:21px; line-height:21px; padding:0px 5px; width:180px; 
border:1px solid #808D23; 
margin-bottom:2px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px

}

.signin td  {color:#000; width:140px;}



.signin .signbox{ width:600px; margin:5px auto;}
.signin .personal{ height:130px; }
.signin .personal table{ margin-left:0px;  margin-top:3px;}

.signin .loginfo{  height:190px;}
.signin .loginfo table{ margin-left:0px; margin-top:3px;}

.signin .cursinfo{  height:160px;}
.signin .cursinfo table{ margin-left:0px; margin-top:3px;}
.signin input[type="checkbox"]{ border:none; background:transparent; height:12px; width:12px;}


.ui-accordion {
}
.ui-accordion .ui-accordion-header {
	border:1px #dadada solid;
	padding:10px;
	height:52px;
	line-height:52px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;
	font-size:18px;
	font-weight:normal;
	margin:10px 0 0 0;
	background:url(../images/accordio.png) no-repeat right center #fff;
	cursor:pointer;
}
.ui-accordion .ui-accordion-header a {
	text-decoration:none;
	color:#565C71;
}
.ui-accordion .ui-state-active {
	border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -khtml-border-radius:5px 5px 0 0;
	border-bottom:none;
	background:url(../images/accordip.png) no-repeat right center #fff;
}
.ui-accordion .ui-accordion-header .flag {
	float:left;
	margin:0 15px 0 0;
	height:50px;
	overflow:hidden;
}
.ui-accordion .ui-accordion-header .flag img {
	margin-top:-10px;
}
.ui-accordion .ui-accordion-header span {
	display:block;
	float:left;
}

.ui-accordion .ui-accordion-content {
	background:#ffffff;
	border:1px #C4D5DF solid;
	border-top:none;
	padding:10px;
	border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px;
}
.ui-accordion .ui-accordion-content .repre_box {
	float:left;
	width:235px;
	border:1px #C4D5DF solid;
	margin:5px;
	padding:8px;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;
}
.ui-accordion .ui-accordion-content .repre_box p {
	margin:0;
	padding:0;
}
.ui-accordion .ui-accordion-content .repre_box span {
	color:#555;
	font-size:11px;
}


.whiteBox {
	background:#FFF;
	margin:0 auto;
	border:2px #C1D3DD solid;
	padding:5px 15px 15px 15px;
	border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; -khtml-border-radius:15px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.whiteBox a {
	display:inline-block;
	background:url(../images/arrow.jpg) no-repeat 0 9px;
	padding:0 0 0 13px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-align:left
}
